
h1 {
background-color: rgb(222, 236, 238);
width: 100%;
display: flex;
justify-content: center;
border-radius: 5px;

}
.App {
    margin: 30px auto;
    width: 35em;
    height: 35em;

}

button {
    width: 12%;
    height: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}


.usuarioInput {
    height: 2em;
    width: 20%;
    border: 1px solid black;
    border-radius: 5px ;
}

.mensagemInput {
    height: 2em;
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
}

.balaozinho {
    padding-left: 15px;
    width: auto;
    min-height: 60vh;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid black;
    background-image: url(../img/background.jpg);
}

.balaozinho p {
    width: 10em;
    min-height: 2em;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid black;
}

.barraInputs {
    min-height: 7vh;
    width: auto;
    border: 1px solid black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(76, 76, 76, 0.075);
}

.balaoMsg {
    background-color: #d2eafd;
    width: fit-content;
    margin-top: 10px;
}