.App {
    display: flex ;
    flex-direction: column;
    margin: 30px auto;
    border: 1px solid grey;
    width: 40%;
    height: 35em;
    border-radius: 2%;

}

.button {
    display: flex;
    flex-direction:row ;
    width: 4em;
    height: 1px;
    border: 1px solid grey;
    border-radius: 15px ;
}

.usuarioInput {
    height: 2em;
    width: 30%;
    border: 1px solid grey;
    border-radius: 15px ;
    flex-direction:row ;
}

.mensagemInput {
    height: 2em;
    width: 60%;
    border: 1px solid grey;
    border-radius: 15px;
    flex-direction:row ;
}


.balaozinho {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    width: 3em;
    height: 3em;
    margin: 0 1em 5em 1em ; 
    border-radius: 15px;
}