/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 100px;
}

div>p:first-child {
    display: block;

}

/* div img {
    background: black;
}
 */


.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;

}

.botao-amarelo:hover {
    background-color: #c44f00;
    color: aliceblue;
}



.container {
    height: 500px;
    text-align: center;
}



.icone {
    height: 15px;
    width: 15px ;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    padding-top: 80px;

}

#paragrafo-secao-azul {
    width: 180px;
    margin: auto;
}

#container-de-descricao>ol {
    padding: 30px 0;
    margin: auto;
    width: 190px ;
}

#container-para-comprar {
    background-color: #e7eb90;
    text-align: center;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
    display: block;
}

/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;

}

table {
    margin: auto auto;
    text-align: center;

}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
    
}
button:hover {
    background-color: #1a00c4;
    color: aliceblue;
}

button:active {
    background-color: #c4007f;
    color: aliceblue;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}
.img-tabela{
    width: 70px;
    height: 70px;
}

#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    margin: auto auto;
    display: block;
}

#back-button:hover {
    background-color: #635a3d
}

#back-button:active {
    background-color: #c4007f;
    color: aliceblue;
}