@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Aqui estamos editando a barra de navegação */
a {
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-icon {
    width: 300px;
    height: auto;
    margin-left: 35px;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-right: 35px;
    margin-top: 15px;
}

/* SEÇÃO MAIN - FOTO E SOBRE MIM */
.about-me {
    background: rgb(6, 13, 42);
    opacity: 5px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.about-me-text-greeting {
    color: white;
    padding-top: 100px;
    font-size: 30px;
    margin-left: 350px;
}

.down-text-greeting {
    margin-left: 135px;
    font-size: 25px;
}

.about-me-text {
    color: white;
    width: 500px;
    display: block;
    margin-left: 200px;
    margin-top: 20px;
}

.about-me-photo {
    width: 350px;
    height: auto;
    margin-left: 900px;
    padding-top: 8px;
    display: block;
    position: absolute;
}

.skills {
    margin-top: 20px;
}

/* SEÇÃO DE INSTITUIÇÃO  */
.institution-labenu {
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
}

.institution-logo {
    width: 300px;
    display: inline;
    margin-top: 30px;
    margin-left: 25%;
}

.institution-logo1 {
    width: 350px;
    display: inline;
    margin: 30px;
}

/* Seção meus projetos */
.my-projects-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
}

.my-projects-subtitle1 {
    width: 600px;
    display: inline;
    margin-left: 5%;
}

.my-projects-subtitle2 {    
    width: 608px;
    display: inline;
    margin-left: 15px;
}

.my-projects-text{
    display: inline-block;
    text-align: center;
    margin-left: 110px;
    font-size: 18px;
}
.my-projects-text2{
    display: inline-block;    
    text-align: center;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 18px;

}