@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

*{
    font-family: 'Inconsolata', monospace;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.header{	
	display:flex;
    flex-flow: wrap;
    justify-content:space-between;
	}

.header-icon{
    width: 300px;
    height: auto;
    margin-left: 35px;
	}

.header-menu{
	display:flex;
    gap: 32px;
    justify-content: space-between;
    margin-right: 35px;
    margin-top: 15px;
}

li {
    text-decoration-style: none;
    list-style:none;
}

